body {
    background-color: black;
}

.titleHeader {
    color: white;
    margin-bottom: 0;
    margin-top: 0;
}

.graphFlexContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.graphFlexContainer div {
    width: 50%;
    height: 50%;
}

.dropdownFlexContainer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
}

.trxGraphFlexContainer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
}