<!DOCTYPE html>
<html lang="en">
<head>
	<title>Altice SiteDB</title>
</head>
<body bgcolor="black" text="white">
	<style>
		.stickyheader {
			overflow: hidden;
			position: sticky;
			top: 0;
			background: #000000;
			background-image: url("https://www.alticeusa.com/sites/default/files/alticeusa-logo.png");
			background-repeat: no-repeat;
			background-position: center center;
			height: 225px;	
			z-index: 1;
		}
		.stickyheader a {
			float: left;
			display: block;
			text-align: center;
			padding: 0px;
			text-decoration: none;
			color: #ffffff;
		}
		.mainbody {
			margin-top: 1px;
		}
	</style>
	<div class="stickyheader">
		<a href="/" style="text-shadow: 3px 3px 3px black;">
			<h1>Altice DR Site DB</h1>
		</a>
		<a href="/wiki" style="text-shadow: 3px 3px 3px black;">
			<h6>Wiki</h6>
		</a>
		<table style="width:100%">
			<tbody>
				<tr>
					<td width="50%">
						<div style="text-align: center;">
							<form action="/sitesearch" method="POST">
								<label style="text-shadow: 2px 2px 3px black;">Live Site Information Query</label>
								<input name="siteidh" placeholder=" Ex.: 086" required type="number" minlength="1" maxlength="4">
								<input type="submit" value="Search Site">
							</form>
							<form action="/newsectorquery" method="POST">
								<label style="text-shadow: 2px 2px 3px black;">Sector Split PCI Query</label>
								<input name="siteidh" placeholder=" Ex.: 014" required type="number" minlength="1" maxlength="4">
								<input type="submit" value="Search Site">
							</form>
							<form action="/dashboard" method="GET">
								<input type="submit" value="Dashboard">
							</form>
						</div>
					</td>
					<td width="50%">
						<div style="text-align: center;">
							<h4 style="text-shadow: 2px 2px 3px black;">Login</h4>
							<form action="/login" method="POST">
								<label for="username" style="text-shadow: 2px 2px 3px black;">Username: </label>
								<input type="text" id="username" name="usernameh"><br>
								<label for="password" style="text-shadow: 2px 2px 3px black;">Password: </label>
								<input type="password" id="password" name="passwordh"><br>
								<input type="submit">
								{% if errorh %}
									<strong>Error:</strong> {{ errorh }}
								{% endif %}
							</form>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="mainbody" id="livesitequerydisplay" style="width:100%">
		{% block livesitequerydisplay %}{% endblock %}
	</div>
	<div class="mainbody" id="newsectorquerydisplay" style="width:100%">
		{% block newsectorquerydisplay %}{% endblock %}
	</div>
	<div class="mainbody" id="errordisplay" style="width:100%">
		{% block errordisplay %}{% endblock %}
	</div>
	<div class="mainbody" id="dashboard_main_child" style="width:100%">
		{% block dashboard_main_child %}{% endblock %}
	</div>
</body>
</html>